@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .movie-transition {
        @apply transition duration-150 ease-in;
    }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
